{% extends '../index.html' %} {% block content %}
<h2>Thid is the home page</h2>

<a href="/logout">Logout</a>

<ul>
  {% for data in evento %}
  <li>{{data.titulo}} - {{ data.get_data_evento }}</li>
  {% endfor %}
</ul>

<h3>Criar evento</h3>
<br />
<form action="criar" method="post">
  {% csrf_token %}
  <label>titulo</label><br />
  <input type="text" name="titulo" placeholder="titulo" /><br />

  <label>descricao</label><br />
  <textarea name="descricao" cols="30" rows="10"></textarea><br />

  <label>data evento</label><br />
  <input type="datetime-local" name="data_evento" /><br />

  <button type="submit">Cadastrar</button>
  <br />
  <br />
</form>

{% endblock content %}
